/* Content Skew Left*/
.ISLcontainer{
	margin:2%;
	display: grid;
	grid-template-columns: 2fr 3fr;
	min-height:60vh;
	background-color: rgb( 240, 240, 230);
}
.ISLcontent{
	grid-column: 2/3;
	background-color: rgb(200,200,200);
	margin:2%;
	padding:1%;
	font-size:200%;
}
.ISLimage{
	margin:2%;
	grid-column:1/2;
	object-fit:contain;
	background-color:rgb(255,255,255);
}
.ISLimage>#tickets{
	height:60vh;
}
.ISLcontent>h1{
	text-align:center;
}
.ISLcontent>p{
	margin:10%;
	margin-top:5%;
	margin-bottom:5%;
	font-size:80%;
}